<!-- <div>
  <button>Create Room</button>
  <button>Find Room</button>
</div> -->
<div id="accordion">
  <div>
    <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <span translate>chat.list.people</span>
    </div>
    <div id="collapseOne" class="collapse show">
      <!-- <div id="single-chat" *ngIf="userList">
        <ho-room *ngFor="let user of userList" (click)="setActiveChatRoom(user)" [roomName]="user"></ho-room>
      </div> -->
    </div>
  </div>
  <div>
    <div class="card-header" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      <span translate>chat.list.groups</span>
    </div>
    <div id="collapseTwo" class="collapse show">
      <div id="group-chat" *ngIf="chatRooms">
        <ho-room *ngFor="let room of chatRooms" [class.selected]="activeChatRoom === room" (click)="setActiveChatRoom(room)" [roomName]="room"></ho-room>
      </div>
    </div>
  </div>
</div>
