:host {
    flex: auto;
    display: flex;
}

.dashboard-wrapper {
    flex: auto;
    display: flex;

    .editor,
    .tasks {
        margin: 4px;
    }

    .editor {
        width: 100%;
    }

    .tasks {
        margin-left: auto;

        ho-task-manager {
            height: 100%;
            display: flex;
        }
    }
}