.room-name {
  width: 100%;
  text-align: center;
  background: lightcyan;
}

.message {
  width: 100%;
  display: flex;
  padding: 5px;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  ho-message {
    height: 30px;
    background-color: teal;
    border-radius: 5px;
    line-height: 30px;
  }
}

input {
  width: 75%;
  bottom: 0;
  position: absolute;
}