:host {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.room-name {
  width: 100%;
  text-align: center;
  background: lightcyan;
}


.board {
  display: flex;
  overflow: auto;
  flex-direction: column-reverse;

  .wrapper {
    flex-direction: column-reverse;

    .message {
      width: 100%;
      padding: 5px;
      display: -webkit-inline-box;
      
      &.left {
        justify-content: flex-start;
      }
      
      &.right {
        justify-content: flex-end;
      }
      
      ho-message {
        height: 30px;
        display: table;
        padding: 0 8px;
        max-width: 60%;
        line-height: 30px;
        border-radius: 5px;
        background-color: teal;
      }
    }
  }
}