<div *ngIf="activeChatRoom">
  <div class="room-name">{{roomName}}</div>
  <!-- 
  <div>   
    <div class="message right">
      <ho-message class="right"></ho-message>
    </div>
    <div class="message left">
      <ho-message class="left"></ho-message>
    </div>
    <div class="message left">
      <ho-message class="left"></ho-message>
    </div>
    <div class="message right">
      <ho-message class="right"></ho-message>
    </div>
    <div class="message right">
      <ho-message class="right"></ho-message>
    </div>
    <div class="message left">
      <ho-message class="left"></ho-message>
    </div>
    <div class="message right">
      <ho-message class="right"></ho-message>
    </div>
    <div class="message left">
      <ho-message class="left"></ho-message>
    </div>
    <div class="message right">
      <ho-message class="right"></ho-message>
    </div>
  </div> -->


  <div *ngFor="let message of activeChatRoom.messages">
    <div class="message" [ngClass]="{'left': message.sentBy !== 'Me', 'right': message.sentBy === 'Me'}">
      <ho-message [messageText]="message.text"></ho-message>
    </div>
  </div>


  <input type="text" #userInput [(ngModel)]="singleText" (keyup.enter)="sendMessage()" autofocus>
</div>
